@import './_base.scss';
.wrapper {
    padding: .2rem;
    h1 {
        font-size: .26rem;
    }
    p {
        font-size: .2rem;
    }
    .mc {
        a {
            font-size: .2rem;
            color: #e3122a;
        }
    }
}
